@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1 class="display-4">Chào mừng đến Hotel Booking</h1>
    <p class="lead">Tìm và đặt phòng khách sạn dễ dàng, nhanh chóng</p>
    <hr class="my-4">
    <p>Bắt đầu tìm kiếm khách sạn ngay hôm nay!</p>
    <a class="btn btn-primary btn-lg" href="/Search/Index" role="button">Tìm kiếm</a>
</div>

<div class="row mt-5">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body text-center">
                <h5 class="card-title">🏨 Nhiều lựa chọn</h5>
                <p class="card-text">Hàng nghìn khách sạn trên toàn quốc</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body text-center">
                <h5 class="card-title">💰 Giá tốt nhất</h5>
                <p class="card-text">Đảm bảo giá tốt với nhiều ưu đãi</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body text-center">
                <h5 class="card-title">⭐ Loyalty Program</h5>
                <p class="card-text">Tích điểm và nhận ưu đãi đặc biệt</p>
            </div>
        </div>
    </div>
</div>